/* App.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  gap: 1rem; /* Add gap between pricing cards */
}

.pricing {
  flex: 1; /* Take full available width */
  max-width: 320px;
  gap: 1rem; /* Add gap between pricing card content */
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Vertically center content */
  height: 100%; /* Fill the entire height of the pricing card */
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-align: center;
}

.pricing .card-price {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul {
  list-style-type: none;
  padding: 0;
}

.pricing ul li {
  margin-bottom: 1rem;
  text-align: center;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 2rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  /* opacity: 0.7;
  transition: all 0.2s; */
  background-color: #33AEFF;
  align-self: center; 

}
.d-grid{
  align-items: center;
  padding: 20px;
  margin-left: 60px;
}

/* Hover Effects on Card */
@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    opacity: 1;
  }
}
